<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<body>

<header>
<a href="http://localhost:3000/accueil">Accueil</a> 
<a href="http://localhost:3000/profil">Profil</a> 
<a href="http://localhost:3000/nouveauThread">Ecrire</a> 
</header>
        


    <p id="greet"></p>

    <p>Voici les posts les plus récents :</p>
    

    <script>
        
    function recupererIdentifiant() {
        axios.post("http://localhost:3000/api/session").then(function (response) {
            document.getElementById("greet").innerHTML = "Bienvenue " + response.data.identifiant + ".";
        })
    }
    
    recupererIdentifiant();
    </script>

    <br/>
    <button onclick="logout()">Déconnexion</button>

</body>
</html>

<script>

    function logout () {
        axios.delete("http://localhost:3000/api/session").then(function (response) {
            window.location.replace('http://localhost:3000/connexion');
        })
    }



</script>