<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<body>

<header>
<a href="http://localhost:3000/accueil">Accueil</a> 
<a href="http://localhost:3000/profil">Profil</a> 

</header>
        

<body>
    <p id="greet"></p>
    <p id="demo"></p>

    <script>
    document.getElementById("demo").innerHTML = "My First JavaScript";
    document.getElementById("greet").innerHTML = session.identifiant;
    </script>

    <br/>
    <button onclick="logout()">Déconnexion</button>




</body>
</html>

<script>

    function logout () {
        axios.delete("http://localhost:3000/api/session").then(function (response) {
            window.location.replace('http://localhost:3000/connexion');
        })
    }

</script>