<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connexion</title>
</head>

<!-- On importe Axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<body>

<header>
<a href="http://localhost:3000/inscription">Inscription</a> 
</header>
        

<h1>Connexion</h1>
<div>
    <label for="identifiantVerif">Identifiant</label>
    <br/>
    <input id="identifiantVerif">
    </br>
    <label for="mdpVerif">Mot de passe</label>
    <br>
    <input id="mdpVerif">
</div>
<br/>
<button onclick="verifyUser()">Connexion</button>

</br>
</br>

<label>
    Résultat:
</label>
<br/>
<textarea disabled id="resultatVerifyUser" style="width: 500px;height: 100px"></textarea>

<hr/>
</body>
</html>

<script>

    function verifyUser() {

    // On récupère les données de l'utilisateur 
    const identifiant = document.getElementById("identifiantVerif").value;
    const mdp = document.getElementById("mdpVerif").value;

    
    axios.post("http://localhost:3000/api/verifyUser", [identifiant, mdp]).then(function (response) {
        if(response.data == 'ok'){
            window.location.replace('http://localhost:3000/accueil');
        }
        else {
            document.getElementById("resultatVerifyUser").innerHTML = response.data;
        }
    })
    }


</script>


