<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test de l'API REST</title>
</head>

<!-- On importe Axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<body>

<h1>Connection</h1>
<div>
    <label for="identifiantCreation">Identifiant</label>
    <br/>
    <input id="identifiantCreation">
    </br>
    <label for="mdpCreation">Mot de passe</label>
    <br>
    <input id="identifiantCreation">
</div>
<br/>
<button onclick="verifyUser()">Connection</button>
<hr/>
</body>
</html>

<script>
    /**
     * On veut créer un utilisateur et mettre le résultat dans le champ associé
     */
    function verifyUser() {

    // On récupère les données de l'utilisateur à créer
    const identifiant = document.getElementById("identifiantCreation").value;
    const mdp = document.getElementById("mdpCreation").value;

    // A modifier
    axios.post("http://localhost:3000/api/user", {identifiant: identifiant, mdp: mdp, nom: nom, prenom: prenom, age: age}).then(function (response) {
        document.getElementById("resultatCreateUser").innerHTML = JSON.stringify(response.data);
        window.location = "http://localhost:3000/connexion";
    })
    }


</script>