<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inscription</title>
</head>

<!-- On importe Axios -->
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<body>
<header>
<a href="http://localhost:3000/connexion">Connexion</a> 
</header>



<h1>Inscription</h1>
<div>
    <label for="identifiantCreation">Identifiant</label>
    <br/>
    <input id="identifiantCreation">
    </br>
    <label for="mdpCreation">Mot de passe</label>
    <br/>
    <input type="password" id="mdpCreation">
    <br/>
    <label for="nomCreation">Nom</label>
    <br/>
    <input id="nomCreation">
    <br/>
    <label for="prenomCreation">Prénom</label>
    <br/>
    <input id="prenomCreation">
    <br/>
    <label for="ageCreation">Age</label>
    <br/>
    <input id="ageCreation" type="number">
</div>
<br/>
<button onclick="createUser()">Créer un utilisateur</button>
</br>
</br>
<label>
    Résultat:
</label>
<br/>
<textarea disabled id="resultatCreateUser" style="width: 500px;height: 100px"></textarea>

<hr/>
</body>
</html>

<script>
    /**
     * On veut créer un utilisateur et mettre le résultat dans le champ associé
     */
    function createUser() {

        // On récupère les données de l'utilisateur à créer
        var identifiant = document.getElementById("identifiantCreation").value;
        var mdp = document.getElementById("mdpCreation").value;
        var nom = document.getElementById("nomCreation").value;
        var prenom = document.getElementById("prenomCreation").value;
        var age = document.getElementById("ageCreation").value;
        var admin = false;

        
        axios.post("http://localhost:3000/api/user", {identifiant: identifiant, mdp: mdp, admin: admin, nom: nom, prenom: prenom, age: age}).then(function (response) {
            document.getElementById("resultatCreateUser").innerHTML = JSON.stringify(response.data);
            //window.location = "http://localhost:3000/connexion";
        }).catch((err) => console.log(err));
        }

</script>