<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Accueil</title>
</head>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<body>

<header>
<a href="http://localhost:3000/accueil">Accueil</a> 
<a href="http://localhost:3000/profil">Profil</a> 
</header>
        

<h1>Créer un nouveau thread</h1>
<div>
    <label for="titreCreation">Titre</label>
    <br/>
    <input id="titreCreation">
    <br/>
    <label for="contenuCreation">Contenu</label>
    <br/>
    <input id="contenuCreation">
</div>
<br/>
<button onclick="createThread()">Poster le thread</button>
<br/>
<br/>
<label>
    Résultat:
</label>
<br/>
<textarea disabled id="resultatCreateThread" style="width: 500px;height: 100px"></textarea>

<hr/>

</body>

</html>

<script>
    /**
     * On veut créer un thread et mettre le résultat dans le champ associé
     */
    function createThread() {
        
        // On récupère les données du thread à créer
        var titre = document.getElementById("titreCreation").value;
        var contenu = document.getElementById("contenuCreation").value;
        

        axios.post("http://localhost:3000/api/thread", [titre, contenu]).then(function (response) {
            document.getElementById("resultatCreateThread").innerHTML = JSON.stringify(response.data);
        }).catch((err) => console.log(err));
        }

</script>